<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${appName}">Glitterfin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<main>
    <div class="container">
        <h1>Expenses</h1>
        <div th:if="${username}" class="user-info">
            <h2>These are <span th:text="${username}">user</span>'s expenses</h2>
        </div>


        <table th:if="${expenses}">
            <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Merchant</th>
                <th>Location</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.amount}">Amount</td>
                <td th:text="${expense.timestamp}">Timestamp</td>
                <td th:text="${expense.merchant}">Merchant</td>
                <td th:text="${expense.location}">Location</td>
                <td th:text="${expense.category}">Category</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>