<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitterfin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<main>
    <div class="container">
        <h2>Glitterfin! Finances done with glitter</h2>
        <a th:href="@{/login}">Login</a>

        <div th:if="${user.getName() != 'anonymousUser'}" class="user-info">
            <p>Hello, <span th:text="${user.name}">User</span>!</p>
        </div>

        <ul th:if="${items}">
            <li th:each="item : ${items}" th:text="${item}">Item</li>
        </ul>
    </div>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>